.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

/* ... */

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

#loader {
    display:none
}

.header-title {
    float: left;
}

.header {
    margin-bottom: 200px
}

.pretentious-cat {
    max-height:180px;
    margin-left:50px;
}

.pretentious-cat-container {
    float: right;
    width: 20%;
}

.subtitle {
    margin-top: 4%;
}

.copyright-footer {
    width: 50%;
    margin: 0 auto 3%;
}

.jumbo-tiny-text p {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 100;
}

.jumbo-results {
    height:auto
}

.search-box {
    margin-top: 3%;
}

.examples {
    margin-top: 2%;
}

.search-options {
    width: 30%;
    margin: 0 auto;
}

body {
    margin-top: 1%;
}
